{% if casas %}
{% for casa in casas %}
<a href="{% url 'get_house' casa.id %}" class="house-container">
    {% with casa.casa_images.first as image %}
        <img src="{{ image.image.url }}" class="house-image">
    {% if casa.recommended %}
        <span class="span-recommend">Recomendación del viajero</span>
    {% endif %}
    {% endwith %}
    <div class="house-contianer-title">
        <span>{{ casa.city }}, {{ casa.country }}</span>
        <div class="rating-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-star">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
            </svg>
            <span class="rating-number">{{ casa.rating }}</span>
        </div>
    </div>
    <div class="gestion-container">
        <span>Gestionado por una empresa</span>
    </div>
    <div class="rooms-container">
        <span>{{ casa.rooms }} habitaciones</span>
    </div>
    <div class="date_uploaded-container">
        <span>{{ casa.date_uploaded }}</span>
    </div>
    
    {% if forloop.last and casas.has_next %}
    <div hx-get="{% url 'get_houses' %}?city={{ request.GET.city }}&rooms={{ request.GET.rooms }}&rating={{ request.GET.rating }}&page={{ casas.next_page_number }}"
        hx-trigger="intersect once"
        hx-swap="beforeend"
        hx-indicator="#loader"
        hx-target="#content-container"
        class="div-to-load-more">
    </div>

    {% endif %}
</a>
{% endfor %}

{% else %}
<div class="error-filter">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="1"> <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"></path> <path d="M13 7l0 .01"></path> <path d="M17 7l0 .01"></path> <path d="M17 11l0 .01"></path> <path d="M17 15l0 .01"></path></svg>
    <p class="error-title">No se encontraron resultados para el filtro aplicado.</p>
    <p class="error-filter-msg">No se encontraron resultados para el filtro aplicado. Por favor, intenta usar un filtro diferente o verifica que el filtro seleccionado coincida con las características de las casas disponibles en nuestra base de datos.</p>
</div>
{% endif %}