{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bnb Housing</title>
    <link rel="icon" href="{% static 'logo.png' %}" type="image/png" class="tab-logo">
    <link rel="stylesheet" href="{% static 'styles/home.css'%}">

    <link href="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.css" type="text/css">

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>
{% for msg in messages%}
    {% if msg.tags == 'success'%}
    <div class="pop-up-message" _="on load wait 2s then transition my opacity to 0 over 2s then remove me" style="border: 1px solid rgb(164, 255, 90);">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkbox" width="26" height="26" viewBox="0 0 24 24" stroke-width="1" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 11l3 3l8 -8" />
            <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
        </svg>
        <p>{{msg}}</p>
    </div>
    {% else %}
        <div class="pop-up-message" _="on load wait 3s then transition my opacity to 0 over 2s then remove me" style="border: 1px solid red;">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="26" height="26" viewBox="0 0 24 24" stroke-width="1" stroke="#ff2825" fill="rgb(255, 141, 141)" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
            <p>{{msg}}</p>
        </div>
    {% endif %}
{%endfor%}

<div class="login-form-container desactive-login-form">
    <h1>Inicia session</h1>
    <form action="{%url 'login_form'%}" method="post">
        {%csrf_token%}
        <div class="password-input-container">
            <input type="email" name="email" placeholder="Correo" required>
        </div>
        <div class="password-input-container">
            <input type="password" name="password" id="password-input" placeholder="Contraseña" required>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-off" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" _="on click if #password-input.type is 'password' then set #password-input.type to 'text' then show #open-eye then hide #close-eye else set #password-input.type to 'password' then show #close-eye then hide #open-eye" id="close-eye">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" />
                <path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" />
                <path d="M3 3l18 18" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" _="on click if #password-input.type is 'password' then set #password-input.type to 'text' then show #open-eye then hide #close-eye else set #password-input.type to 'password' then show #close-eye then hide #open-eye" id="open-eye">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
            </svg>
        </div>
        <button type="submit" class="login-but">Iniciar</button>
    </form>
</div>



<body id="body">
    <div class="loader-3">
        <div id="loader-3"></div>
    </div>
    <div class="main-container">
        <div class="header-container">
            <div class="header-top">
                <div class="logo-container">
                    <img class="logo" src="{% static 'logo.png'%}" alt="">
                </div>
                {% if request.user.is_authenticated %}
                    <a class="user-profile-container" href="{% url 'dashboard' %}">
                        <p class="text-btn">Control</p>
                        <svg xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="26" height="26" stroke-width="1">
                            <path d="M3 4a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-12z"></path>
                            <path d="M3 13h18"></path>
                            <path d="M8 21h8"></path>
                            <path d="M10 17l-.5 4"></path>
                            <path d="M14 17l.5 4"></path>
                        </svg>
                    </a>
                {% else %}
                    <div class="user-profile-container" _="on click toggle .desactive-login-form on .login-form-container">
                        <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
                        <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#828487" d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/></svg>
                    </div>
                {% endif %}
            </div>
            <div class="where-container">
                <h2 class="header-where">¿Busca Tu Destino?</h2>
            </div>
            <div class="header-bottom" style="display: none;">
                <form hx-get="{% url 'get_houses'%}" hx-trigger="submit" class="input-container" hx-target="#content-container" hx-indicator="#loader-2">
                    <!-- City Input -->
                    <div class="text-container">
                        <span>Ciudad</span>
                        <input type="text" placeholder="Ciudad" id="city-input" hx-trigger="keyup" hx-get="{% url 'search_filter' %}" name="city" hx-target="#search-results" hx-swap="innerHTML" _="on keyup if my value.length is 0 then hide #search-results else wait 600ms then show #search-results" autocomplete="off">
                    </div>
            
                    <!-- Rooms Dropdown -->
                    <div class="text-container">
                        <span>Habitaciones</span>
                        {{filter.form.rooms}}
                    </div>
            
                    <!-- Rating Dropdown -->
                    <div class="text-container">
                        <span>Calificación</span>
                        {{filter.form.rating}}
                    </div>
                    <button type="submit" class="filter-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="1">
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                            <path d="M21 21l-6 -6"></path>
                        </svg>
                    </button>
                    <div id="loader-2"></div>
                </form>
                <div id="search-results" _="on load hide me"></div>
            </div>
        </div>
        <div class="responsive-filters">
            <div class="filter-icon" _="on click toggle .filters-on on .responsive-filters">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="30" height="30" stroke-width="1">
                    <path d="M4 10a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                    <path d="M6 4v4"></path>
                    <path d="M6 12v8"></path>
                    <path d="M10 16a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                    <path d="M12 4v10"></path>
                    <path d="M12 18v2"></path>
                    <path d="M16 7a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                    <path d="M18 4v1"></path>
                    <path d="M18 9v11"></path>
                </svg>
            </div>
            <div class="filter-form-container-respo">
                <div class="title-filter">
                    <h2>Filtrar</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="1">
                        <path d="M4 6l9 0"></path>
                        <path d="M4 12l7 0"></path>
                        <path d="M4 18l7 0"></path>
                        <path d="M15 15l3 3l3 -3"></path>
                        <path d="M18 6l0 12"></path>
                    </svg>
                </div>
                <form hx-get="{% url 'get_houses'%}" hx-trigger="submit" class="filter-form-responsive" hx-target="#content-container" hx-indicator=".loader-3">
                    <!-- City Input -->
                    <div class="text-container">
                        <span>Ciudad</span>
                        <input type="text" placeholder="Ciudad" id="city-input-respo" hx-trigger="keyup" hx-get="{% url 'search_filter' %}" name="city" hx-target="#search-results-respo" hx-swap="innerHTML" _="on keyup if my value.length is 0 then hide #search-results-respo else wait 600ms then show #search-results-respo" autocomplete="off">
                        <div class="clear-city-input" _="on click put '' into #city-input-respo.value">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="16" height="16" stroke-width="1"> <path d="M18 6l-12 12"></path> <path d="M6 6l12 12"></path></svg> 
                        </div>
                    </div>
            
                    <!-- Rooms Dropdown -->
                    <div class="text-container">
                        <span>Habitaciones</span>
                        {{filter.form.rooms}}
                    </div>
            
                    <!-- Rating Dropdown -->
                    <div class="text-container">
                        <span>Calificación</span>
                        {{filter.form.rating}}
                    </div>
                    <div class="text-container">
                        <span>Bañera</span>
                        {{filter.form.tub}}
                    </div>
                    <div class="text-container">
                        <span>Televison</span>
                        {{filter.form.TV}}
                    </div>
                    <div class="text-container">
                        <span>Parking</span>
                        {{filter.form.parking}}
                    </div>
                    <div class="text-container">
                        <span>Wifi</span>
                        {{filter.form.wifi}}
                    </div>
                    <div class="text-container">
                        <span>Aire Accondicionado</span>
                        {{filter.form.AC}}
                    </div>
                    <div class="text-container">
                        <span>Cocina</span>
                        {{filter.form.kitchen}}
                    </div>


                    <button type="submit" class="filter-btn-respo" _="on click remove .filters-on from .responsive-filters then on click go to the top of the body smoothly">
                        <p>Buscar</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="1">
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                            <path d="M21 21l-6 -6"></path>
                        </svg>
                    </button>
                    <div id="loader-2"></div>
                </form>
                <div class="clear-filters">
                    <a class="clear-btn" href="{% url 'home'%}">
                        <p>Borar Filtros</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="1">
                            <path d="M4 7l16 0"></path>
                            <path d="M10 11l0 6"></path>
                            <path d="M14 11l0 6"></path>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        </svg>
                    </a>
                </div>
                <div id="search-results-respo" _="on load hide me"></div>
            </div>
        </div>
        <div id="content-container">
            <div id="data-container" hx-get="{% url 'get_houses' %}?page=1" hx-trigger="load" hx-swap="beforeend" hx-target="#content-container" hx-indicator="#loader"></div>
        </div>
        <div id="loader"></div>
        {% include 'partials/footer.html' %}
    </div>
</body>
</html>
